executor {
    name = 'pbspro'
}

process {

    queue = 'normal'  
    project = 'wz54' 
    storage = 'scratch/wz54+gdata/wz54'

    cpus = 1			// dafualt cpu usage
    memory = '20GB'	    // default memory
    time = '48:00:00'   // default time limit

    withLabel:  bam2fasta { cpus = 1 ; memory = '10GB' ; time = '24:00:00' ; module = 'samtools' }
    withLabel:  jellyfish { cpus = 1 ; memory = '80GB' ; time = '24:00:00';  module = 'jellyfish'  }
    withLabel:  genomescope { cpus = 1 ; memory = '10GB' ; time = '24:00:00' ; module = 'genomescope' }
    withLabel:  assembly { cpus = 4 ; memory = '150GB' ; time = '48:00:00' ; module = 'ipa' }
    withLabel:  evaluate_assemblies { cpus = 1 ; memory = '20GB' ; time = '24:00:00' ; module = 'quast' }
    withLabel:  assemblies_completeness { cpus = 4 ; memory = '80GB' ; time = '48:00:00' ; module = 'busco' }
}

params.busco_db = "/g/data/wz54/groupResources/lib/busco/eukaryota_odb10"

env {
	MODULEPATH="/g/data/wz54/groupResources/modules:$MODULEPATH"
}