process {
    executor = 'local'
}

process {
    withLabel:  bam2fasta { module = 'samtools' }
    withLabel:  jellyfish { module = 'jellyfish' }
    withLabel:  genomescope { module = 'genomescope' }
    withLabel:  assembly { module = 'ipa' }
    withLabel:  evaluate_assemblies { module = 'quast' }
    withLabel:  assemblies_completeness { module = 'python/3.6.6:blast/2.10.0:hmmer/3.2.1:busco/3.0.2:boost/1.67.0:augustus/3.3.2' }
}

params.busco_db = "/Databases/Database/busco/eukaryota_odb9"